.user-name, .password {
  display: block;
  margin-bottom: 16px;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

button {
  margin: 0 auto;
}

p {
  text-align: center;
  color: red;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
